<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <p>
                <label>Contador que viene por ViewBag: @ViewBag.contador</label>
            </p>
            
            <p>
                <label>Contador leyendo los RoutedValues: @ViewContext.RouteData.Values["id"]</label>         
            </p>

            <p>
                <input type="submit" value="+1" />
            </p>
        }
    </div>
</body>
</html>